.detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.detail-content {
  display: flex;
  flex-wrap: wrap;
}

.detail-text {
  flex: 1;
  padding-right: 20px;
  text-align: left; /* Align text to the left */
}

.detail-image {
  flex: 1;
  padding-left: 20px;
}

.return-home-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.return-home-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .detail-text,
  .detail-image {
    flex: 1 100%;
    padding: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.detail-text h2 {
  margin-top: 0;
}

.detail-text p {
  margin-top: 5px;
}
