.App {
  width: auto;
  text-align: center;
}



.TableContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.TableColumn {
  width: 30%;
  margin: 5px;
}

.Header {
 
}

.NavHeader {
  background-color: black;
}

ul.Tabpanel {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  list-style-type: none;
}

ul li:hover {
  background-color: rgba(255, 255, 0, 0.786);
  overflow: hidden;
}

ul li {
  padding: 10px 0;
}

.Links {
  margin: 10px 10px;
  color: white;
  text-decoration: none;
}

.Container {
  display: flex;
  flex-direction: row;
}

.row1 {
  display: flex;
  width: auto;
}

.row2 {
  display: flex;
}

.column {
  width: 623px;
  margin: 5px 5px 10px 5px;
}

.detail-container {
  display: flex;
  justify-content: center;
}

.detail-content {
  display: flex;
  flex-direction: row;
  max-width: 800px;
}

.detail-text {
  flex: 1;
  padding: 20px;
}

.detail-image {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.detail-image img {
  max-width: 100%;
  height: auto;
}


.BTN {
  background-color: blue;
  border: none;
  color: white;
  font-size: 16px;
}

.Footer {
  background-color: rgb(245, 245, 245);
  padding: 20px;
  margin-bottom: 0px;
}

.Footer h3 {
  margin-bottom: 0px;
}

.overlay {
  
}

.openPopup {
  text-decoration: none;
  color: white;
}

.ThemeBtn {
  margin-right: 32px;
  padding: 10px 0;
}

.Themebtn {
  text-decoration: none;
}


